.Title {
  margin-top: 20px;
  font-size: 15px;
}
.id {
  display: block;
  text-align: center;
  font-size: 15px;
}
.Table-title {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.AddManagement {
  margin-left: 200px;
  font-size: 20px;
}
.Add-1 {
  width: 100px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.ClassGroup {
  margin-left: 150px;
  font-size: 15px;
  font-weight: bold;
}
.ClassGroup3 {
  margin-left: 250px;
  font-size: 15px;
  font-weight: bold;
}
